@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import './shared.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

.btn {
    position: relative;
    padding: 0.8em 1em;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: white;

    &:after {
        content: "";
        @include abs-top-right;
        background: $lightBlue;
        display: block;
        opacity: 0;
        width: 0;
        height: 100%;
        transition: all 0.8s ease-in-out;
        border-radius: 5px;
    }

    &:active:after {
        opacity: 0.2;
        width: 100%;
        transition: 0s;
    }
}

.uppercase {
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}